:root {
    --block-height: 24px;
    --block-width: calc(var(--block-height) * 2);
}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-user-drag: none;
}

#main {
    display: flex;
    flex-direction: column;
}

row-element {
    display: flex;
    width: auto;
    height: var(--block-height);
}

block-element {
    display: inline-block;
    height: var(--block-height);
    width: var(--block-width);
    border: 1px black solid;
}

#field-select {
    background: rgba(0, 0, 255, 0.3);
    border: dotted blue 1px;
    position: absolute;
}
