:root {
    --block-height: 24px;
    --block-width: calc(var(--block-height) * 2);
}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-user-drag: none;
    user-drag: none;

}

#main {
    display: flex;
    flex-direction: column;
}

body {
    background: #1e1e1e;
    color: white;
}

row-element {
    display: flex;
    width: auto;
    height: var(--block-height);
}

block-element {
    display: inline-block;
    height: var(--block-height);
    width: var(--block-width);
    box-sizing: border-box;
    border: 1px white solid;
    z-index: 500;
}

#field-select {
    background: rgba(0, 0, 255, 0.3);
    border: dotted blue 1px;
    position: absolute;
    z-index: 1000;
}

#board-representation {
    top: 0;
    left: 0;
    position: fixed;
    /*z-index: 999;*/
}
